<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>790221084752-m3p6smk3rbiphugq2cv3bd7e1isca2db.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790221084752-m3p6smk3rbiphugq2cv3bd7e1isca2db</string>
	<key>API_KEY</key>
	<string>AIzaSyA0u-a1QabQsakQKHpylTZ_LqhM86GgO4I</string>
	<key>GCM_SENDER_ID</key>
	<string>790221084752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Hungry.Fish.team.Majong</string>
	<key>PROJECT_ID</key>
	<string>majong-e84dd</string>
	<key>STORAGE_BUCKET</key>
	<string>majong-e84dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790221084752:ios:05bc92b5958e52f1de5955</string>
</dict>
</plist>